@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";

$white: #FFFFFF;
$darkBlue: #44519E;
$lightBlue: #2BBCEF;
$lightPurple: #9787EE;
$yellow: #FDC646;

*,h1,h2,h3,h4,h5,h6,p,span,div{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;

}

html,body{
  background: #EDEDED;
  height: 100%;
}

@import "home";
@import "all-tasks";
